@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    font-family: "Orbitron";
}

body {
    background: linear-gradient(-45deg, #f8f9fa 50%, #e9ecef 50%);
}

p {
    font-family: sans-serif !important;
}

.dark-mode {
    filter: invert(100%);
}