@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
}

body {
    background: linear-gradient(45deg, #0BEEF9, #48A9FE);
}

.morning {
    background: linear-gradient(45deg, #a9f1f6, #ffdb00);
}

.afternoon {
    background: linear-gradient(45deg, #fbbe00, #fd9616);
}

.night {
    background: linear-gradient(45deg, #0f0f41, #010015);
    color: #fff;
}