@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
}

.morning {
    background: linear-gradient(45deg, #cfe2ff, #fff3cd);
}

.afternoon {
    background: linear-gradient(45deg, #fff3cd, #fecba1);
}

.night {
    background: linear-gradient(45deg, #160d27, #000);
    color: #fff;
}